# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
build.xml
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
build/
nbproject/
tmp/
temp/
$RECYCLE.BIN/

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
/dist/
/build/
/nbproject/
tmp/
temp/
/restaurant-kot/manifest.mf
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

restaurant-kot/.rar
estaurant-kot/.pdf
